@{
    ViewBag.Title = "About Code Curator.";
    
}
<h2>@ViewBag.Title.</h2>
<div>
    <p>
            I'm a senior studying Computer Science at Eastern Michigan University. I have been on the lookout for projects I could work on.  I wanted to learn web
            development and without some motivation, I find it hard to get away from my comfort zone.  I sometimes spend my time watching videos about programming
            for entertainment. (Yes, I'm that nerdy)  That's when I found this video.  I was inspired when Ms. Sierra points out that the community could help create
            a place for good code.  I did some looking and couldn't find anything exactly like that and so my project began.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/FKTxC9pl-WM" frameborder="0" allowfullscreen></iframe>
    <p>
        I've already learned a great deal about web development.  Mostly, I've learned that asp.net makes a lot of hard things very easy.  I've spent some time learning
        MVC and jquery.
    </p>
    <p>
        While this is a personal project meant to be a learning tool, I hope to one day release it as a working website.
    </p>
</div>



